[user]
	name = slowl
	email = ******@gmail.com
[core]
	editor = nano
[init]
	defaultBranch = master
[alias]
	alias = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	amend = commit --amend
	br = checkout -b
 	co = commit
	ch = checkout
	st = status
	unco = reset --soft HEAD~1
	untrack = rm --cache --
[color]
	ui = auto
[push]
	autoSetupRemote = true